h1 {
    font-size: 300%;
    font-family:'Avenir Next', 'Helvetica', 'Arial';
    color: #3B3B3B;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
}
p {
    font-size: 100%;
    font-family:'Avenir Next', 'Helvetica', 'Sans-Serif';
    color: #3B3B3B;
    margin-left: 20%;
    margin-right: 20%;
}
li {
    font-weight: 480;
    float: left;
    margin: 0px;
}
li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 17px 26px 17px 26px;
    text-decoration: none;
}
li a:hover {
    background-color: #A2ADBF;
}
.smaller-home-image {
    width: 30%;
    margin-right: 10%;
    margin-left: 10%;
}
.menu {
    /* list-style-type: none; */
    padding-left: 50%;
    margin: 0px;
    background-color: #C6CDDB;
    overflow: hidden;
    font-size: 110%;
    font-family: 'Avenir Next', 'Helvetica', 'Sans-Serif';
    list-style-type: none;
}
