h1 {
    font-size: 300%;
    font-family:'Avenir Next', 'Helvetica', 'Arial';
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
p {
    font-size: 100%;
    font-family:'Avenir Next', 'Helvetica', 'Sans-Serif';
    margin-left: 20%;
    margin-right: 20%;
}
ul {
    font-size: 150%;
    font-family: 'Avenir Next', 'Helvetica', 'Sans-Serif';
    list-style-type: none;
}
li {
    float: right;
    margin-right: 30px;
}
li a {
    display: block;
    color: #C3C3C3;
    text-align: center;
    padding: 30px 30px 5px 10px;
    text-decoration: none;
}
li a:hover {
    color: #FFFFFF;
}
.smaller-home-image {
    width: 30%;
    float: left;
    /* margin-top: 10%; */
    margin-right: 10%;
    /*margin-bottom: 20px;*/
    margin-left: 10%;
}
.text-box-home {
    margin-right: 10%;
}

.menu {
    /* list-style-type: none; */
    margin-top: 0;
    padding-left: 50%;
    background-color: #0E2A5D;
    overflow: hidden;
}
