.navbar {
    background-color: #C6CDDB;
    overflow: hidden;
    padding-left: 42%;
}

.navbar a {
    font-size: 110%;
    font-weight: 480;
    font-family: 'Avenir Next', 'Helvetica', 'Sans-Serif';
    color: #FFFFFF;

    text-align: center;
    display: block;
    float: left;
    text-decoration: none;
    list-style-type: none;
    padding: 17px 26px 17px 26px;
    margin: 0px;
}

.navbar a:hover {
    background-color: #A2ADBF;
}

.smaller-home-image {
    width: 30%;
    float: left;
    margin: 2% 7% 0% 13%;
    padding: 0%;
}

h1 {
    font-size: 300%;
    font-family:'Avenir Next', 'Helvetica', 'Arial';
    color: #3B3B3B;
    font-weight: bold;
    margin: 5% 0% 0% 0%;
    padding-top: 20%;
}
.p-home {
    font-size: 105%;
    font-family:'Avenir Next', 'Helvetica', 'Sans-Serif';
    color: #3B3B3B;
    margin: 2% 10% 0% 0%; /*don't change left padding -- fix w/ responsiveness*/
    padding: 0%;
}
