body {
    margin: 0px;
    background-color: #FAFAFA;
    font-family: 'Roboto', 'Lato', 'Avenir Next', 'Helvetica', 'Sans-Serif';
    overflow-y: scroll;
}

/*Laptops */
@media screen and (min-width: 1200px) {
  body {
      font-size: 18px;
      overflow-y: hidden; /* while containers aren't pushed */
  }
  .projects-row-column { /* only enable hover transformation for laptop */
      transition: transform .4s;
  }
  .projects-row-column:hover {
    transform: scale(1.05);
  }
}

@media screen and (min-width: 845px) and (max-width: 1200px) {
    body {
        font-size: 15px;
    }
}


/*Mobile*/
@media screen and (min-width: 559px) and (max-width: 845px) {
    body {
        font-size: 14px;
    }

    .content {
        margin: 0% 2.5% 0% 2.5%;
        width: 95vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start; /* don't need align-content for 1 liner */
        align-items: flex-start;
    }

    .block-R {
        width: 100%;
    }

    .block-L {
        width: 100%;
    }
}

/*For the headline*/
h1 {
    font-size: 3.2em;
    padding: 0px 0px 2px 0px;
    margin: 0px;
    font-family: 'Raleway';
    font-weight: 400;
}

h2 {
    font-size: 1em;
    font-weight: 500;
    line-height: 110%;
}

/* pretty much everything else */
li {
    font-size: 1.15em;
    padding: 0% 0% 2% 0%;
    text-overflow: wrap;
    max-width: 38%;
}

/*hyperlinks: */
a {
    text-decoration: underline;
    list-style-type: none;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    color: #000000;
}

.content { /* holds and fills everything */
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; /* don't need align-content for 1 liner */
    align-items: flex-start;
}

.block-L {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 22%;
    max-width: 20%;
    height: 100vh;
    margin: 9% 2% 0 10%;

}

.block-R {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1.1
    max-width: 40%;
    height: 100vh;
    margin: 8% 0% 0% 2%;
    padding: 0%;

}

.home-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding: 8%; */
    border-radius: 50%;
    min-width: 150px;
    min-height: 150px;
    max-width: 95%;
    max-height: auto;
}

.icon-bar {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.icon-bar img {
    min-width: 30px;
    min-height: 30px;
    max-height: 15%;
    max-width: 15%;
    padding: 0 2% 0 2%;
}

.bullets {
    padding: 4% 0 0 0%;
    line-height: 123%; /* spacing btwn paragraph */
    text-overflow: wrap;
}

hr.modify {
  background-color: purple;
  max-width: 23%;
  margin: 2% 0 0 0;
  height: 10px;
  border-top: 0px;
}


/*ANIMATION */
.animated {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-fill-mode: both
}

.animated-delay {
    animation-delay: 0.3s;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-fill-mode: both
}

/* FADE UP */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,60px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,60px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}