body {
    height: 100%;
    margin: 0px;
    color: rgba(0,0,0,0.87);
    overflow: scroll;
    font-family: 'Lato', 'Avenir Next', 'Helvetica', 'Sans-Serif';
}

/*Laptops */
@media screen and (min-width: 1200px) {
  body {
      font-size: 16px;
  }
}

/*Mobile*/
@media screen and (max-width: 845px) {
  body {
      font-size: 13px;
  }
  .navbar .navbar-links a {
      font-size: 0.8em;
  }
  .content .container { /*holds each section */
      margin: 0% 5% 0 5%;
      width: 90%;
  }
  .content .container .projects-row .text-block {
      text-align: center;
  }
}

/*this is where text starts pushing up*/
@media screen and (max-width: 558px) {
    .content .container { /*holds each section */
        margin: 5vh 0% 0% 0%;
        width: 100%;
    }
}

/*hi im sun ah only*/
h1 {
    font-size: 3.6em;
    margin-top: 2vh;
    padding-bottom: 0;
    margin-bottom: 0;
    /*color: #000000;*/
    font-family: 'Raleway';
    font-weight: 700;

}

/*index.html subhead*/
h2 {
    font-size: 1.25em;
    line-height: 1.35;
}

/*project titles*/
h3 {
    font-size: 1.9em;
    font-family: 'Raleway';
    font-weight: 600;
}

/*project start dates & project page subhead*/
h4 {
    font-size: 1.03em;
    font-weight: 400;
    line-height: 1.1em;
    font-style: italic;
}

/*project descriptions*/
p {
    font-size: 0.9em;
}


/*all hyperlinks*/
a {
    text-decoration: underline;
    list-style-type: none;
    font-weight: 400;
    color: rgba(0,0,0,0.87);
    /*color: #FF8002; */
    /* orange links */
}

.container { /*holds each section */
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin: 0% 13% 0 13%;
    width: 74%;
    /*originally 16perc for left and right*/

    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.navbar {
    overflow: hidden;
    /*position: static;*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0% 13% 0% 13%;

    position: fixed;
    top: 0;
    width: 74%;
    height: 12vh;
    background: rgba(255,255,255, .5);
    z-index: 1;
}

.navbar a {
    color: #000000;
    /*text-decoration: none;
    list-style-type: none;*/
    text-align: center;
}

.navbar .navbar-title {
    /*padding-right: 15%;*/
    display: flex;
    flex-wrap: nowrap;
    align-items: center; /*vertical alignment w flex */
}

.navbar .navbar-title a {
    font-size: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar .navbar-links {
    font-size: 14pt;
    text-transform: lowercase;
    /*padding-left: 30%;*/
    display: flex;
    vertical-align: middle;
    text-align: right;
    align-items:center;
}

.navbar .navbar-links a {
    text-decoration: none;
    list-style-type: none;
    padding-left: 4vw;
    display: inline-block;
}

.text-center {
    text-align: center;
}

hr {
    min-width: 50px;
    max-width: 50px;
    border-width: 2pt;
    border-color: #19191D;

}


#header-down-btn {
    width: 100%;
    color: #19191D;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    padding: 0px;
    margin: 0px;
    font-size: 3.1em;
}

.sticky + .content {
  padding-top: 102px;
}

.projects-row {
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#column-container {
    justify-content: center;
}

.projects-row-column {
    width: 28%;
    display: flex;
    /*flex-direction: column;*/
    margin: 1%;
    flex-flow: column;
    text-align: left;
    justify-content: flex-start;
    /*max-height: 60vh;*/
    height: 60vh;
    box-shadow: 0 15px 20px rgba(0,0,0,.1);
}

.project-img {
    height: 40%;
    background-color: #4992F2;
}

.scale-image {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.home-image {
    border-radius: 50%;
    min-width: 200px;
    min-height: 200px;
    width: 20vw;
    height: 20vw;
    /*background-color: #838225;*/
    padding: 4%;
    margin: 0;
}

.icon-bar {
    padding-bottom: 20px;
    font-size: 18px;
    vertical-align: middle;
}


.icon-bar img {
    width: 30px;
    height: 30px;
    margin: 0;
    vertical-align: middle;
    padding-right: 8px;
}

.text-block {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #995758;*/
}

.project {
    align-self: flex-start;
    margin: 0;
    padding: 9%;
    overflow: scroll;
    height: 50%;
}

.projects-row-column h3 {
    padding: 0 0 2% 0;
    margin: 0;
}

.projects-row-column h4 {
    padding: 0 0 5% 0;
    margin: 0;
}

.projects-row-column p {
    padding: 3% 0 0 0;
    margin: 0;
}

#proj-container {
    position: fixed;
    top: 15vh;
    margin-top: -15vh;
    padding-top: 1vh;
}
