body {
    margin: 0px;
    color: rgba(0,0,0,0.87);
    background-color: #FAFAFA;
    font-family: 'Lato', 'Avenir Next', 'Helvetica', 'Sans-Serif';
    overflow-y: scroll;
}

/*Laptops */
@media screen and (min-width: 1200px) {
    hr {
        background-color: purple;
        float: left;

    }
  body {
      font-size: 18px;
      overflow-y: hidden; /* while containers aren't pushed */
  }
  .projects-row-column { /* only enable hover transformation for laptop */
      transition: transform .4s;
  }
  .projects-row-column:hover {
    transform: scale(1.05);
  }

}

/*Mobile*/
@media screen and (min-width: 559px) and (max-width: 900px) {
    body {
        font-size: 10px;
    }
    .content #title-container { /*index.html */
        margin: 0% 5% 0 5%;
        width: 90%;
        height: 90%;
    }
    .content .container .projects-row .text-block {
        text-align: center;
    }
}

/*this is where text starts pushing up*/
@media screen and (max-width: 558px) {
    /*INHERITED ABOVE*/
    body {
        font-size: 14px;
    }
    a {
        font-size: inherit;
        line-height: inherit;
    }
    .content .container .projects-row .text-block {
        text-align: center;
    }
    /*NEW*/
    .content #title-container { /* just for index.html */
        margin: 4vh 0% 0% -2%;
        width: 104%;
    }

}

/*hi im sun ah only*/
h1 {
    font-size: 3.4em;
    margin: 1vh 0 0 0;
    padding-bottom: 0;
    font-family: 'Raleway';
    font-weight: 400;

}

h2 {
    font-size: 1.03em;
    font-weight: 600;
    margin: 0;
    font-style: italic;
}

/*all hyperlinks*/
a {
    text-decoration: none;
    list-style-type: none;
    font-weight: 400;
    position: relative;
    color: inherit;
}

.container { /*holds everything*/
    background-position: center center;
    position: relative;
    top: 0;
    height: 100vh;
    display: flex;
    margin: 0% 13% 0 13%;
    width: 74%;
    display: flex;
    flex-direction: column;
}

.content + #title-container {
    overflow-x: hidden;
}

#title-container {
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.projects-row {
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.headshot {
    border-radius: 50%;
    min-width: 200px;
    min-height: 200px;
    width: 18vw;
    height: 18vw;
    max-width: 22vw;
    max-height: inherit;
    margin: 0 0 10% 0;
}

.icon-bar {
    padding-bottom: 20px;
    font-size: 18px;
    vertical-align: middle;
}

.content .container .projects-row .text-block .icon-bar-icons {
    text-align: center;
    display: flex;
    justify-content: center;
}

ul {
}


li {
    font-size: .93em;
    padding: 0% 0% 2% 0%;
    text-overflow: wrap;
    max-width: 85%;
}

.icon-bar-icons {
    padding-bottom: 10px;
    font-size: 18px;
    vertical-align: middle;

}


.icon-bar-icons img {
    max-width: 40px;
    max-height: 40px;
    padding-right: 8px;
}

.text-block {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #995758;*/
}




hr {
    height: 10px;
    max-width: 30%;
    border: 0px;
    margin: 2% 0 2% 0;
}


/*ANIMATION */
.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both
}

.animated-delay {
    animation-delay: 0.3s;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-fill-mode: both
}

/* FADE UP */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,80px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,80px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/*FADE DOWN*/
@keyframes fadeInDown {
    from {
        transform: translate3d(0,-60px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInDown {
    from {
        transform: translate3d(0,-60px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


.animatedFadeInDown {
    opacity: 0
}

.fadeInDown {
    opacity: 0;
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
}
